@import "base/_colors.scss";

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: $lightBackground;
  color: $fontColor;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $fontColor;
}

input, textarea {
  font-family: 'Lato', sans-serif;
  background-color: transparent;
}

// /* --- smartphone and tablet responsiveness --- */
@media only screen and (min-device-width: 270px) and (max-device-width: 1439px) {
  .cover {
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 5;
    }
}

.visible {
  // display: block !important;
  visibility: visible !important;
  transition: "all 0.5s ease 0s"
}

.invisible {
  // display: none !important;
  visibility: hidden !important;
}
